*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    background: #0a043c;
    overflow: hidden;
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            content: '';
            position: absolute;
            top: 10%;
            right: 20%;
            width: 300px;
            height: 300px;
            border-radius: 10px;
            background: linear-gradient(#f9f871, #eb5e0b);
            animation: animate 5s ease-in-out infinite;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 10%;
            left: 20%;
            width: 300px;
            height: 300px;
            border-radius: 10px;
            background: linear-gradient(#65d6ce, #21209c);
            animation: animate 5s ease-in-out infinite; 
        }
        @keyframes animate {
            0%, 100%{
                transform: translateY(20px);
            }
            50%{
                transform: translateY(-20px);
            }
        }
        .Left{
            width: 120px;
            height: 10px;transform: rotate(40deg);
            background: burlywood;
            box-shadow: 12px 12px 16px 0 #91f2f7 inset, -8px -8px 12px 0 #91f2f7 inset;
            border-radius: 10px;
            position: absolute;
            top: 31%;
            left: 42%;
        }
        .Right{
            width: 120px;
            height: 10px;transform: rotate(-40deg);
            background: burlywood;
            box-shadow: 12px 12px 16px 0 #91f2f7 inset, -8px -8px 12px 0 #91f2f7 inset;
            border-radius: 10px;
            position: absolute;
            top: 31%;
            left: 52%;
        }
        .Clock{
            pointer-events: none;
            position: relative;
            height: 250px;
            width: 700px;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);
            .Container{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                border: 30px solid rgba(255, 255, 255, 0.1);
                border-radius: 20px;
                h2{
                    font-size: 6em;
                    color: white;
                    &:nth-child(odd){
                        padding: 5px 15px;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.05);
                        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
                        margin: 0 10px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                        border-right: 1px solid rgba(255, 255, 255, 0.1);
                    }
                }
                #ampm{
                    position: relative;
                    top: -30%;
                    font-size: 2em;
                    color: yellow;
                    font-weight: 700;
                }
            }
        }
        .Left_Bar{
            height: 100%;
            width: 50px;
            background: linear-gradient(#65d6ce, #21209c);
            position: absolute;
            left: 0%;
        }
        .Right_Bar{
            height: 100%;
            width: 50px;
            background: linear-gradient(#f9f871, #eb5e0b);
            position: absolute;
            right: 0%;
        }
        .Bubble{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
            transition: 5s;
            position: absolute;
            top: 10%;
            left: 10%;
        }
        .background {
          .Bubble{
            position: absolute;
            top: 80vh;
            left: 45vw;
            width: 10px;
            height: 10px;
            border: solid 1px #D7D4E4;
            transform-origin: top left;
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            animation: Bubble 12s ease-in forwards infinite;
          }
          .Bubble:nth-child(2n) {
            border-color: #FFF ;
          }
          .Bubble:nth-child(2) {
            animation-delay: 1s;
            left: 25vw;
            top: 40vh;
          }
          .Bubble:nth-child(3) {
            animation-delay: 2s;
            left: 75vw;
            top: 50vh;
          }
          .Bubble:nth-child(4) {
            animation-delay: 3s;
            left: 90vw;
            top: 10vh;
          }
          .Bubble:nth-child(5) {
            animation-delay: 4s;
            left: 10vw;
            top: 85vh;
          }
          .Bubble:nth-child(6) {
            animation-delay: 5s;
            left: 50vw;
            top: 10vh;
          }
          .Bubble:nth-child(7) {
            animation-delay: 6s;
            left: 10vw;
            top: 10vh;
          }
          .Bubble:nth-child(8) {
            animation-delay: 7s;
            left: 50vw;
            top: 30vh;
          }
          .Bubble:nth-child(9) {
            animation-delay: 8s;
            left: 50vw;
            top: 50vh;
          }
          .Bubble:nth-child(10) {
            animation-delay: 9s;
            left: 80vw;
            top: 80vh;
          }
          .Bubble:nth-child(11) {
            animation-delay: 10s;
            left: 95vw;
            top: 90vh;
          }
        }
          @keyframes Bubble {
            from {
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
              opacity: 1;
            }
            to {
              transform: scale(20) rotate(960deg) translate(-50%, -50%);
              opacity: 0;
            }
          }
    }
}
